body {
  background-color: #2F302F;
}

.data-container {
  width: 1492px;
  margin: 0 auto;
  margin-top: 50px;
}

.table {
  background-color: inherit;
}

.panel {
  display: inline-block;
  padding: 60px;
  padding-right: 0;
  margin:0 1px;
  width: 49.8%;
  background-color: #181A1B;
}

.panel p {
  font-size: 20px;
  color: #D8D8D8;
}

.panel .wrapper {
  display: inline-block;
  border-left: 1px solid #EFC954;
  padding-left: 10px;
  margin-top: 20px;
  width: 32%;
  color: #D8D8D8;
  font-size: 60px;
}

.panel div span {
  float: right;
  margin-left: 5px;
  font-size: 20px;
}

.panel div .title {
  margin-left: 5px;
  font-size: 20px;
}

.panel div .data {
  overflow: hidden;
  color: #D8D8D8;
  font-size: 60px;
}
